
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);

* {
  font-family: 'IM Fell English', serif;
}

body {
  color: #222;
  background: url("../images/paper.jpg");
}

h1 {
  margin-top: 0;
  font-size: 4em;
  text-align: center;
}

#box {
  width: 500px;
  margin: 40px auto;
  background: #eee;
  padding: 40px;
  box-shadow: 0 2px 10px #222;
  border-radius: 5px;
}

#replay-button,
#start-button-fr,
#start-button-en {
  border-radius: 5px;
  background: #999;
  box-shadow: 0 2px 5px #555;
  color: #444;
  font-size: 3em;
  padding: 10px 20px;
  border: none;
  margin: auto;
  display: block;
  cursor: pointer;
}

#start-button-en {
  margin-top: 20px;
}

#replay-button:active,
#start-button-fr:active,
#start-button-en:active {
  box-shadow: inset 0 2px 5px #555;
}

#game-over-message {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
}

#word-question {
  font-size: 1.5em;
}

#word-input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: none;
  color: #444;
  border-bottom: 2px dashed #888;
  outline: none;
  font-size: 1.5em;
  background: transparent;
}

#score {
  font-style: italic;
  font-size: 1.5em;
  color: #666;
  text-align: right;
}

#error-message {
  color: red;
}